* {
  margin: 0;
}

body {
  background-color: white;
  font-family: "Averia Serif Libre";
}

.nav {
  display: grid;
  grid-template-columns: .2fr 1fr 3fr 1fr;
  justify-content: space-around;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}

.tog{
    margin: 0%;
    padding-left: 20px;
    width: 30px;
}

label{
    margin: 0%;
    font-size: 26px;
    cursor: pointer;
    display: none;
    
}

#toggle{
    display: none;
}

.logo-text {
  font-size: 1.7rem;
  margin: 0.5rem;
}

.logo-dot {
  color: rgb(57, 57, 181);
}

.menu-list {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}




.nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav ul li {
  list-style: none;
  display: block;
  padding-right: 50px;
}
.nav ul {
  display: flex;
}
.search input {
  background-color: rgb(201, 198, 198);
  color: rgb(96, 89, 89);
  border-radius: 0px 20px 20px 0px;
  border: 0px solid;
  padding: 10px 10px 10px 0px;
}

.search i {
  background-color: rgb(201, 198, 198);
  padding: 9px 5px 11px 10px;
  margin: 0%;
  border: 0px;
  border-radius: 20px 0px 0px 20px;
}



.section-1 {
  display: grid;
  place-items: center center;
  text-align: center;
}

.section-1 h1 {
  font-size: 60px;
}

.section-1 h1 span {
  font-size: 60px;
  color: rgb(57, 57, 181);
}

.section-1 p {
  font-size: 30px;
  color: gray;
  font-weight: lighter;
}

.section-1 button {
  padding: 10px 30px;
  color: white;
  background-color: rgb(57, 57, 181);
  border-radius: 15px;
  border: 0px solid;
  width: max-content;
  font-weight: bolder;
  cursor: pointer;
}

.section-2 {
  padding: 60px 150px;
  display: grid;
  justify-items: flex-start;
}

.grid-1 {
  width: 60%;
  height: max-content;
  border-radius: 30px;
  float: left;
}

.grid-1 img {
  width: 100%;
  height: max-content;
  border-radius: 30px;
}

.section-2 .grid-2 {
  width: 70%;
  height: 0;
  border-radius: 30px;
  position: absolute;
  display: grid;
  justify-self: center;
  place-items: center center;
  margin-top: 100px;
  left: 30%;

  padding-bottom: 50px;
}

.text-heading {
  padding: 30px 50px;
  box-shadow: 5px 5px 10px black;
  background-color: white;
  border-radius: 30px;
  height: 13rem;
  width: max-content;
}

.text-heading h2 {
  padding-bottom: 15px;
  font-size: 2rem;
}

.text-heading h3 {
  padding-bottom: 15px;
  color: rgb(57, 57, 181);
  font-size: 1.5rem;
}

.text-heading p {
  padding-bottom: 15px;
  color: grey;
  font-size: 1.1rem;
}

.media {
  display: block;
  float: right;
  padding-top: 30px;
  padding-left: 100px;
}

.media a {
  padding-right: 30px;
}

.media a img {
  width: 20px;
  height: 20px;
}

.section-3 {
  padding-left: 150px;
  padding-right: 150px;
  display: grid;
  grid-template-columns: 1fr;
}

.writers {
  background-color: rgb(57, 57, 181);
  border-radius: 30px;
  padding-top: 30px;
  
}

.writers h1 {
  text-align: center;
  color: white;
}
.writer-section img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding-bottom: 10px;
}
.writer-section div {
  color: white;
  text-align: center;
  padding-bottom: 70px;
  font-weight: lighter;
}

.writer-section {
  margin: auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-content: space-around;
  box-sizing: border-box;
  margin: auto;
}

.footer {
  height: 80px;
  width: 100%;
}


@media screen and (max-width: 700px){

  :-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

  body{
      
      padding:5px;
      display: block;
      margin:auto;
      text-align: center;
      font-family: "Averia Serif Libre";
  
  }
  .nav{
    display: flex;
    justify-content: space-around;
    justify-items: stretch;
    padding-bottom: 20px;

  }

  label{
    margin: 0;
    padding-left: .1px;
    font-size: 26px;
    cursor: pointer;
    display: block;
    
}

.tog{
  display: grid;
  place-items: center center;
}

#toggle{
    display: none;
}

.nav ul li a{
    color:black;
    text-decoration: none;
    font-size: 30px;
    
}

.nav ul li{
  display: block;
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
  
  
}

.menu-list{
    position: absolute;
    background-color: rgb(57, 57, 181);
    width: 100%;
    height: max-content;
    padding:0px;
    display: none;
    margin: auto;
    text-align: center;
    color:black
}

.search input{
  display: none;
 
}

.logo-text{
    display: grid;
    place-items: center center;
}

.search{
  display: grid;
  place-items: center center;
}

.logo-dot {
  color: rgb(57, 57, 181);
}

.search i {
  background-color: transparent;
  
  margin: 0%;
  border: 0px;
  padding-right: 5px;
  
}

.section-1{
    margin: auto;
    display: block;
    text-align: center;
    padding-bottom: 40px;
}

.section-1 h1 span {
  color: rgb(57, 57, 181);
}

.section-1 p {
  color: gray;
  font-weight: lighter;
}

.section-1 button {
  padding: 10px 30px;
  color: white;
  background-color: rgb(57, 57, 181);
  border-radius: 15px;
  border: 0px solid;
  width: max-content;
  font-weight: bolder;
  cursor: pointer;
}

.grid-1 img{
    width: 300px;
    border-radius: 20px;
}

.grid-2{
  width: auto;

}

.text-heading{
  padding: 10px;
  width: 60%;
  display: block;
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
  
 
}

.text-heading h3 {
  padding-bottom: 5px;
  color: rgb(57, 57, 181);
  font-size: 1.5rem;
}

.text-heading p {
  padding-bottom: 5px;
  color: grey;
  font-size: 1.1rem;
}

.media{
  padding-top: 30px;
}

.media img{
    width: 20px;
    height: 20px;
}

.section-2{
  margin: auto;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.section-3{
  margin: auto;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.media{
    padding-top: 20px;
}

.media a{
   text-decoration: none;
   padding-right: 20px;
}

.section-3{
  padding:20px;
}

.writers{
   background-color: rgb(57, 57, 181);
   border-radius: 20px;
   color: white;
}

.writers h1{
   font-size: 25px;
   padding-top: 10px;
   padding-bottom: 20px;
}

.writer-section{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   padding-bottom: 20px;
   
  
}

.writer-section h3{
   font-weight: lighter;
   font-size: 15px;
}

.writer-section img{
   width: 60px;
   height: 60px;
   border-radius: 50%;
}

.footer{
   height: 80px;
}
}